# Ignore node_modules directory
node_modules/

# Ignore TypeScript build output directory
dist/

# Ignore environment variables file (if it's named .env)
.env

# Ignore VSCode specific files
.vscode/

# Ignore any local build configuration
*.local.ts

# Ignore macOS specific files
.DS_Store

# Ignore any log files
*.log

# Ignore Jest coverage folder
coverage/

# Ignore TypeScript definition files
*.d.ts

# Ignore package-lock.json file
package-lock.json

logs/